/* google font */
@import url("fonts.css");
/* css variable */
@import url("partials/variable.css");
/* global css */
@import url("partials/global.css");

/*========= login html =========*/
.container .txt-primary {
  font-weight: 500;
  color: var(--title-primary-color) !important;
  font-size: 18px;
}
.container .txt-secondary {
  color: var(--title-secondary-color) !important;
}
.container .input-form-login {
  padding-top: 25px;
  padding-bottom: 25px;
}
.container img {
  size: 20px;
}

.container .pembungkus {
  margin-top: 200px;
}
