/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* css variable */
@import url("partials/variable.css");
/* global css */
@import url("partials/global.css");

/* body */
body {
  background-color: #f9fafc;
  font-family: "Poppins", sans-serif;
}

/*========= login html =========*/
.container .pembungkus {
  margin-top: 200px;
}
